
    <div class="container col-xxl-8 px-2 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 column-reverse-tablet">
          <div class="col-10 col-sm-8 col-lg-6 responsive-image-swap">
            <img src="assets\img\hero-desktop.png" class="d-block mx-lg-auto img-fluid" alt="Person seeing icons and utilities above through VR lenses" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <p class="display-5 fw-bold lh-1 mb-3 hero title">Explore the</p>
            <object class="tech-zone-tablet" data="assets\img\tech-zone.svg" height="240" type="image/svg+xml" alt="TECH ZONE"></object>
            <p class="word-breaker hero">Here you’ll be able to exchange all of your hard-earned Aeropoints and exchange them for cool tech.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
              <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">View all products <span class="material-icons">arrow_downward</span></button>
            </div>
          </div>
        </div>
    </div>
